# Analyse des données de Demandes de Valeurs Foncières (DVF)

#### Importation des modules

In [46]:
import pandas as pd
from datetime import datetime

#### Récupération des données

In [47]:
url = 'https://static.data.gouv.fr/resources/demandes-de-valeurs-foncieres/20240408-125738/valeursfoncieres-2023.txt'
df = pd.read_csv(url, sep='|', low_memory=False).dropna(axis=1, how='all')
df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,05/01/2023,Vente,"1070000,00",184.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
1,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
2,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,2.0,Appartement,233.0,8.0,NaN,NaN,NaN
3,1,03/01/2023,Vente,"152200,00",2914.0,NaN,RTE,0107,DE PONCIN,1450.0,...,NaN,NaN,0,1.0,Maison,64.0,3.0,S,NaN,988.0
4,1,05/01/2023,Vente,"269000,00",427.0,T,CHE,0040,DE L'AUBEPIN,1800.0,...,NaN,NaN,0,1.0,Maison,73.0,3.0,S,NaN,835.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727000,1,05/10/2023,Adjudication,"3931000,00",39.0,NaN,AV,1832,CHARLES FLOQUET,75007.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3727001,1,05/10/2023,Adjudication,"3931000,00",39.0,NaN,AV,1832,CHARLES FLOQUET,75007.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3727002,1,05/10/2023,Adjudication,"3931000,00",39.0,NaN,AV,1832,CHARLES FLOQUET,75007.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3727003,1,28/12/2023,Vente,"98250,00",66.0,B,RUE,8892,SEBASTIEN MERCIER,75015.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
3727004,1,28/12/2023,Vente,"98250,00",66.0,B,RUE,8892,SEBASTIEN MERCIER,75015.0,...,NaN,NaN,1,2.0,Appartement,18.0,1.0,NaN,NaN,NaN

In [48]:
# .groupby() par 'No disposition', 'No plan', 'Refererence cadastral',

#### Préparation des données

In [49]:
Dates = pd.to_datetime(df['Date mutation'], dayfirst=True)
Dates

0         2023-01-05
1         2023-01-05
2         2023-01-05
3         2023-01-03
4         2023-01-05
             ...
3727000   2023-10-05
3727001   2023-10-05
3727002   2023-10-05
3727003   2023-12-28
3727004   2023-12-28
Name: Date mutation, Length: 3727005, dtype: datetime64[ns]

In [50]:
# Pour stocker l'adresse de la propriété on concerve uniquement les références cadastrales.
df['Prefixe de section'] = df["Prefixe de section"].fillna(0)
df['reference_cadastral'] = (
    df['Code departement'].apply(lambda x: str(x).zfill(3)) + " " +
    df['Code commune'].apply(lambda x: str(x).zfill(3)) + " " + 
    df['Prefixe de section'].apply(lambda x: str(int(x)).zfill(3)) + " " +
    df['Section'].apply(lambda x : str(x).ljust(2, "0")) + " " )
    # df['No plan'].apply(lambda x: str(x).zfill(3)))
df

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,reference_cadastral
0,1,05/01/2023,Vente,"1070000,00",184.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN,001 354 000 BD
1,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN,001 354 000 BD
2,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,1,2.0,Appartement,233.0,8.0,NaN,NaN,NaN,001 354 000 BD
3,1,03/01/2023,Vente,"152200,00",2914.0,NaN,RTE,0107,DE PONCIN,1450.0,...,NaN,0,1.0,Maison,64.0,3.0,S,NaN,988.0,001 404 000 D0
4,1,05/01/2023,Vente,"269000,00",427.0,T,CHE,0040,DE L'AUBEPIN,1800.0,...,NaN,0,1.0,Maison,73.0,3.0,S,NaN,835.0,001 361 000 B0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727000,1,05/10/2023,Adjudication,"3931000,00",39.0,NaN,AV,1832,CHARLES FLOQUET,75007.0,...,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN,075 107 000 BU
3727001,1,05/10/2023,Adjudication,"3931000,00",39.0,NaN,AV,1832,CHARLES FLOQUET,75007.0,...,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN,075 107 000 BU
3727002,1,05/10/2023,Adjudication,"3931000,00",39.0,NaN,AV,1832,CHARLES FLOQUET,75007.0,...,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN,075 107 000 BU
3727003,1,28/12/2023,Vente,"98250,00",66.0,B,RUE,8892,SEBASTIEN MERCIER,75015.0,...,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN,075 115 000 FV
3727004,1,28/12/2023,Vente,"98250,00",66.0,B,RUE,8892,SEBASTIEN MERCIER,75015.0,...,NaN,1,2.0,Appartement,18.0,1.0,NaN,NaN,NaN,075 115 000 FV

In [51]:
# On drop les colonnes inutiles
df = df.drop(columns=['Date mutation','Prefixe de section', 'Section', 'No plan', 'Code departement', 'Code commune', 'Commune'])