In [1]:
import pandas as pd
import numpy as np

# 1. Data preprocessing

Load the text file

In [2]:
file_path = "valeursfoncieres-2023.txt"

df = pd.read_csv(file_path, delimiter='|')

C:\Users\kevmu\AppData\Local\Temp\ipykernel_17152\2394329452.py:3: DtypeWarning: Columns (14,18,23,24,26,28,29,31,32,33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, delimiter='|')

Display the 5 first lines of the pandas DataFrame

In [3]:
df.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,NaN,1,2.0,Appartement,NaN,233.0,8.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2023,Vente,...,NaN,0,1.0,Maison,NaN,64.0,3.0,S,NaN,988.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,05/01/2023,Vente,...,NaN,0,1.0,Maison,NaN,73.0,3.0,S,NaN,835.0

In [4]:
df.shape

(3727005, 43)

In [5]:
df = df.dropna(axis=1, how='all')

In [6]:
df.shape

(3727005, 35)

In [7]:
df.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,05/01/2023,Vente,"1070000,00",184.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
1,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
2,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,2.0,Appartement,233.0,8.0,NaN,NaN,NaN
3,1,03/01/2023,Vente,"152200,00",2914.0,NaN,RTE,0107,DE PONCIN,1450.0,...,NaN,NaN,0,1.0,Maison,64.0,3.0,S,NaN,988.0
4,1,05/01/2023,Vente,"269000,00",427.0,T,CHE,0040,DE L'AUBEPIN,1800.0,...,NaN,NaN,0,1.0,Maison,73.0,3.0,S,NaN,835.0

In [8]:
df.isnull().sum()

No disposition                      0
Date mutation                       0
Nature mutation                     0
Valeur fonciere                 32379
No voie                       1415647
B/T/Q                         3562235
Type de voie                  1506492
Code voie                       28260
Voie                            28793
Code postal                     28508
Commune                             0
Code departement                    0
Code commune                        0
Prefixe de section            3554808
Section                           177
No plan                             0
No Volume                     3718739
1er lot                       2575704
Surface Carrez du 1er lot     3396909
2eme lot                      3367072
Surface Carrez du 2eme lot    3618348
3eme lot                      3662987
Surface Carrez du 3eme lot    3714834
4eme lot                      3707028
Surface Carrez du 4eme lot    3724176
5eme lot                      3718560
Surface Carrez du 5eme lot    3726084
Nombre de lots                      0
Code type local               1584464
Type local                    1584464
Surface reelle bati           1586935
Nombre pieces principales     1586935
Nature culture                1170517
Nature culture speciale       3561084
Surface terrain               1170517
dtype: int64

In [9]:
df_cleaned = df

In [10]:
df_cleaned.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,...,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,1,05/01/2023,Vente,"1070000,00",184.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
1,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN,NaN
2,1,05/01/2023,Vente,"1070000,00",159.0,NaN,ALL,0124,DES HETRES,1630.0,...,NaN,NaN,1,2.0,Appartement,233.0,8.0,NaN,NaN,NaN
3,1,03/01/2023,Vente,"152200,00",2914.0,NaN,RTE,0107,DE PONCIN,1450.0,...,NaN,NaN,0,1.0,Maison,64.0,3.0,S,NaN,988.0
4,1,05/01/2023,Vente,"269000,00",427.0,T,CHE,0040,DE L'AUBEPIN,1800.0,...,NaN,NaN,0,1.0,Maison,73.0,3.0,S,NaN,835.0

In [11]:
df_cleaned['Prefixe de section'] = df_cleaned["Prefixe de section"].fillna(0)
df_cleaned['Reference cadastrale'] = (
    df_cleaned['Code departement'].apply(lambda x: str(x).zfill(3)) + " " +
    df_cleaned['Code commune'].apply(lambda x: str(x).zfill(3)) + " " + 
    df_cleaned['Prefixe de section'].apply(lambda x: str(int(x)).zfill(3)) + " " +
    df_cleaned['Section'].apply(lambda x : str(x).ljust(2, "0")) + " " 
)

In [12]:
df_cleaned = df.dropna(axis=1, thresh=2000000)

In [13]:
df_cleaned.isnull().sum()

No disposition                     0
Date mutation                      0
Nature mutation                    0
Valeur fonciere                32379
No voie                      1415647
Type de voie                 1506492
Code voie                      28260
Voie                           28793
Code postal                    28508
Commune                            0
Code departement                   0
Code commune                       0
Prefixe de section                 0
Section                          177
No plan                            0
Nombre de lots                     0
Code type local              1584464
Type local                   1584464
Surface reelle bati          1586935
Nombre pieces principales    1586935
Nature culture               1170517
Surface terrain              1170517
Reference cadastrale               0
dtype: int64

In [14]:
df_cleaned.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,Reference cadastrale
0,1,05/01/2023,Vente,"1070000,00",184.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,BD,334,1,3.0,Dépendance,0.0,0.0,NaN,NaN,001 354 000 BD
1,1,05/01/2023,Vente,"1070000,00",159.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,BD,336,1,3.0,Dépendance,0.0,0.0,NaN,NaN,001 354 000 BD
2,1,05/01/2023,Vente,"1070000,00",159.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,BD,336,1,2.0,Appartement,233.0,8.0,NaN,NaN,001 354 000 BD
3,1,03/01/2023,Vente,"152200,00",2914.0,RTE,0107,DE PONCIN,1450.0,SERRIERES-SUR-AIN,...,D,2317,0,1.0,Maison,64.0,3.0,S,988.0,001 404 000 D0
4,1,05/01/2023,Vente,"269000,00",427.0,CHE,0040,DE L'AUBEPIN,1800.0,SAINT-JEAN-DE-NIOST,...,B,2405,0,1.0,Maison,73.0,3.0,S,835.0,001 361 000 B0

In [15]:
df_cleaned = df_cleaned.drop_duplicates()

In [16]:
df_cleaned = df_cleaned.fillna(0)

In [17]:
df_cleaned.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,Reference cadastrale
0,1,05/01/2023,Vente,"1070000,00",184.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,BD,334,1,3.0,Dépendance,0.0,0.0,0,0.0,001 354 000 BD
1,1,05/01/2023,Vente,"1070000,00",159.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,BD,336,1,3.0,Dépendance,0.0,0.0,0,0.0,001 354 000 BD
2,1,05/01/2023,Vente,"1070000,00",159.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,BD,336,1,2.0,Appartement,233.0,8.0,0,0.0,001 354 000 BD
3,1,03/01/2023,Vente,"152200,00",2914.0,RTE,0107,DE PONCIN,1450.0,SERRIERES-SUR-AIN,...,D,2317,0,1.0,Maison,64.0,3.0,S,988.0,001 404 000 D0
4,1,05/01/2023,Vente,"269000,00",427.0,CHE,0040,DE L'AUBEPIN,1800.0,SAINT-JEAN-DE-NIOST,...,B,2405,0,1.0,Maison,73.0,3.0,S,835.0,001 361 000 B0

In [18]:
df_cleaned.dtypes

No disposition                 int64
Date mutation                 object
Nature mutation               object
Valeur fonciere               object
No voie                      float64
Type de voie                  object
Code voie                     object
Voie                          object
Code postal                  float64
Commune                       object
Code departement              object
Code commune                   int64
Prefixe de section           float64
Section                       object
No plan                        int64
Nombre de lots                 int64
Code type local              float64
Type local                    object
Surface reelle bati          float64
Nombre pieces principales    float64
Nature culture                object
Surface terrain              float64
Reference cadastrale          object
dtype: object

In [19]:
df_cleaned["Date mutation"] = pd.to_datetime(df_cleaned["Date mutation"])

C:\Users\kevmu\AppData\Local\Temp\ipykernel_17152\3898097352.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_cleaned["Date mutation"] = pd.to_datetime(df_cleaned["Date mutation"])

In [20]:
df_cleaned.dtypes

No disposition                        int64
Date mutation                datetime64[ns]
Nature mutation                      object
Valeur fonciere                      object
No voie                             float64
Type de voie                         object
Code voie                            object
Voie                                 object
Code postal                         float64
Commune                              object
Code departement                     object
Code commune                          int64
Prefixe de section                  float64
Section                              object
No plan                               int64
Nombre de lots                        int64
Code type local                     float64
Type local                           object
Surface reelle bati                 float64
Nombre pieces principales           float64
Nature culture                       object
Surface terrain                     float64
Reference cadastrale                 object
dtype: object

In [21]:
# Numerise data

In [22]:
df_cleaned['Valeur fonciere'] = df_cleaned['Valeur fonciere'].replace(',', '.', regex=True)

In [23]:
df_cleaned['Valeur fonciere'] = df_cleaned['Valeur fonciere'].astype(float)

In [24]:
df_cleaned.loc[df_cleaned['Code departement'] == '2A', 'Code departement'] = 200
df_cleaned.loc[df_cleaned['Code departement'] == '2B', 'Code departement'] = 201

In [25]:
df_cleaned[df_cleaned['Code departement'] == 200]

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Section,No plan,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,Reference cadastrale
1005824,1,2023-03-01,Vente,160000.0,2.0,RUE,0290,DE LA LOGGIA,20169.0,BONIFACIO,...,AC,247,1,2.0,Appartement,36.0,2.0,0,0.0,02A 041 000 AC
1005825,1,2023-03-01,Vente,130000.0,2.0,RUE,0290,DE LA LOGGIA,20169.0,BONIFACIO,...,AC,247,1,2.0,Appartement,36.0,3.0,0,0.0,02A 041 000 AC
1005826,1,2023-09-01,Vente,290000.0,28.0,RUE,0300,DU 9 SEPTEMBRE,20110.0,PROPRIANO,...,A,302,1,2.0,Appartement,82.0,3.0,0,0.0,02A 249 000 A0
1005827,1,2023-05-01,Vente,304750.0,5999.0,0,B364,VIVA,20166.0,GROSSETO-PRUGNA,...,A,212,1,3.0,Dépendance,0.0,0.0,0,0.0,02A 130 000 A0
1005828,1,2023-05-01,Vente,304750.0,5999.0,0,B364,VIVA,20166.0,GROSSETO-PRUGNA,...,A,212,1,2.0,Appartement,45.0,2.0,0,0.0,02A 130 000 A0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1014742,1,2023-12-28,Vente,390000.0,13.0,CHE,0350,DE QUENZA,20137.0,PORTO-VECCHIO,...,AE,30,0,2.0,Appartement,70.0,3.0,S,854.0,02A 247 000 AE
1014743,1,2023-12-28,Vente,390000.0,13.0,CHE,0350,DE QUENZA,20137.0,PORTO-VECCHIO,...,AE,30,0,2.0,Appartement,75.0,4.0,S,854.0,02A 247 000 AE
1014745,1,2023-12-20,Vente,330000.0,5.0,RUE,0960,MISS CAMPBELL,20000.0,AJACCIO,...,CE,373,1,2.0,Appartement,87.0,3.0,0,0.0,02A 004 000 CE
1014746,1,2023-12-12,Vente,1.0,5000.0,0,B146,VIGNA MAJO,20110.0,PROPRIANO,...,AE,137,0,0.0,0,0.0,0.0,S,1377.0,02A 249 000 AE
1014747,2,2023-02-16,Vente,2600.0,0.0,0,B068,CASTAGNETO,20160.0,LETIA,...,D,1562,0,0.0,0,0.0,0.0,L,290.0,02A 141 000 D0

In [26]:
df_cleaned['Code departement'] = df_cleaned['Code departement'].astype(int)

In [ ]:
df_cleaned['Reference cadastrale'] = df_cleaned['Reference cadastrale'].astype()

In [27]:
df_cleaned.dtypes

No disposition                        int64
Date mutation                datetime64[ns]
Nature mutation                      object
Valeur fonciere                     float64
No voie                             float64
Type de voie                         object
Code voie                            object
Voie                                 object
Code postal                         float64
Commune                              object
Code departement                      int32
Code commune                          int64
Prefixe de section                  float64
Section                              object
No plan                               int64
Nombre de lots                        int64
Code type local                     float64
Type local                           object
Surface reelle bati                 float64
Nombre pieces principales           float64
Nature culture                       object
Surface terrain                     float64
Reference cadastrale                 object
dtype: object

In [28]:
# Encoding

In [29]:
df_cleaned['Nature mutation code'] = df_cleaned["Nature mutation"].astype("category").cat.codes

In [30]:
df_cleaned['Type de voie code'] = df_cleaned["Type de voie"].astype("category").cat.codes

In [31]:
df_cleaned.dtypes

No disposition                        int64
Date mutation                datetime64[ns]
Nature mutation                      object
Valeur fonciere                     float64
No voie                             float64
Type de voie                         object
Code voie                            object
Voie                                 object
Code postal                         float64
Commune                              object
Code departement                      int32
Code commune                          int64
Prefixe de section                  float64
Section                              object
No plan                               int64
Nombre de lots                        int64
Code type local                     float64
Type local                           object
Surface reelle bati                 float64
Nombre pieces principales           float64
Nature culture                       object
Surface terrain                     float64
Reference cadastrale                 object
Nature mutation code                   int8
Type de voie code                     int16
dtype: object

In [32]:
df_cleaned['Section code'] = df_cleaned["Section"].astype("category").cat.codes

In [33]:
df_cleaned["Nature culture code"] = df_cleaned["Nature culture"].astype("category").cat.codes

In [34]:
df_cleaned.dtypes

No disposition                        int64
Date mutation                datetime64[ns]
Nature mutation                      object
Valeur fonciere                     float64
No voie                             float64
Type de voie                         object
Code voie                            object
Voie                                 object
Code postal                         float64
Commune                              object
Code departement                      int32
Code commune                          int64
Prefixe de section                  float64
Section                              object
No plan                               int64
Nombre de lots                        int64
Code type local                     float64
Type local                           object
Surface reelle bati                 float64
Nombre pieces principales           float64
Nature culture                       object
Surface terrain                     float64
Reference cadastrale                 object
Nature mutation code                   int8
Type de voie code                     int16
Section code                          int16
Nature culture code                    int8
dtype: object

In [35]:
df_cleaned.head()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,...,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,Reference cadastrale,Nature mutation code,Type de voie code,Section code,Nature culture code
0,1,2023-05-01,Vente,1070000.0,184.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,Dépendance,0.0,0.0,0,0.0,001 354 000 BD,3,3,32,0
1,1,2023-05-01,Vente,1070000.0,159.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,Dépendance,0.0,0.0,0,0.0,001 354 000 BD,3,3,32,0
2,1,2023-05-01,Vente,1070000.0,159.0,ALL,0124,DES HETRES,1630.0,ST-GENIS-POUILLY,...,Appartement,233.0,8.0,0,0.0,001 354 000 BD,3,3,32,0
3,1,2023-03-01,Vente,152200.0,2914.0,RTE,0107,DE PONCIN,1450.0,SERRIERES-SUR-AIN,...,Maison,64.0,3.0,S,988.0,001 404 000 D0,3,109,82,23
4,1,2023-05-01,Vente,269000.0,427.0,CHE,0040,DE L'AUBEPIN,1800.0,SAINT-JEAN-DE-NIOST,...,Maison,73.0,3.0,S,835.0,001 361 000 B0,3,23,28,23